#login-page {
  display: flex;
  flex-direction: column;
}

#login-page header img {
  width: 100%;
  height: 1.5rem;
  margin: 2rem 0rem;
}

#login-page main {
  width: 90vw;
  max-width: 400px;
  margin: 0px auto;
  border-radius: 10px;
}

#login-page form {
  border: 1px solid rgb(196, 196, 196);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
}

#login-page form .error {
  font-size: 0.8rem;
  color: rgb(190, 0, 0);
}
#login-page form input {
  padding: 0.5rem;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
}
#login-page form label {
  font-weight: bold;
  font-size: 0.9rem;
}
#login-page form input:focus {
  outline: none;
  border: 1px solid #008296;
}
#login-page form > div {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}
