#news-box {
  height: 400px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}
#news-box header {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#news-box main {
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#news-box main div span {
  color: rgb(129, 129, 129);
  font-size: 0.9rem;
}

#news-box main div h4 {
  color: rgb(77, 77, 77);
  font-weight: 700;
}

#news-box main div a {
  color: var(--primary-color);
}
