#business-details {
  display: flex;
}

#business-details main {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#logo-input {
  border: 1px solid rgb(214, 214, 214);
}

#logo-preview {
  position: relative;
  border: 1px dashed rgb(214, 214, 214);
  padding: 10px;
}

#logo-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-logo-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgb(110, 110, 110);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 16px;
  padding: 6px;
}

#logo-preview:hover .delete-logo-button {
  display: grid;
}

section#logo {
  display: flex;
  gap: 1rem;
}

section#logo > div {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: gray;
  cursor: pointer;
}

#business-type-radio-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

#business-type-radio-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #525252;
}

#business-type-radio-group input[type='radio'] {
  margin-right: 5px;
}
