#dashboard {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

#dashboard > main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}


#dashboard nav{
  display: flex;
  justify-content: space-between;
  
}
#dashboard nav button{
  background-color: transparent;
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  border-radius:2rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  &:hover{
    background-color: whitesmoke;
  }
}
#dashboard nav button span{
  font-size: 1rem;
  font-weight: bold;
}

.highlights-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  align-items: stretch;
}

.highlight, .beta-highlight {
  height: 100%;
  border: 1px solid lightgray; 
  border-radius: 4px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: default;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.beta-highlights-container
{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  align-items: stretch;
}

.highlight header, .beta-highlight header {
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 500;
  color: #4b4b4b;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.highlight main, .beta-highlight main {
  flex: 1;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  
}
.health-wrapper{
    width: 100%;
    height: 8px;
    background-color: rgb(216, 216, 216);
    position: relative;
    border-radius: 4px;
}
.draggable-item {
  cursor: default;
  user-select:none;
  transition: transform 0.2s;
  
}

.draggable-active {
  cursor: grab;
  
}

.draggable-active:active {
  cursor:grabbing;
  transform: scale(0.97);
}

