#my-store {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
#my-store header{
  display: flex;
  gap: 1rem;
  align-items: center;
}
#my-store header button{
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  border-radius: 2rem;
}
#my-store > section {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  overflow: hidden;
}

#my-store > section > header {
  background-color: whitesmoke;
  padding: 0.75rem;
  border-bottom: 1px solid lightgray;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#my-store > section > main {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.my-store-field {
  display: flex;
  flex-direction: column;
}

.my-store-field label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #1d1d1d;
  margin-bottom: 0.25rem;
}

.my-store-field p {
  font-size: 0.9rem;
  font-weight:bold;
  color: #727272;
  font-weight: bold;
}

#business-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: whitesmoke;
}

#store-not-found {
  border: 1px solid lightgray;
  border-radius: 0.75rem;
  height: fit-content;
  padding: 1rem;
  padding-left: 1.75rem;
  width: 100%;
  position: relative;
  overflow:hidden;
}
#store-not-found::after{
  content: "";
  width: 0.75rem;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  top: 0px;
  left: 0px;
}

#store-not-found h1 {
  font-size: 1.5rem;
  color: #333;
}

#store-not-found p {
  color: #666;
}
#store-not-found button{
    border-radius: 0.2rem;
    margin-top: 1rem;
    font-size: 1rem;
}


