#store-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 1080px;
  width: 100vw;
  margin: auto;
}
#store-form input[type="text"] {
  border: 1px solid #d8d8d8;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  &:focus {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    outline: none;
  }
}
#store-form input[type="radio"],
#store-form input[type="checkbox"] {
  accent-color: var(--primary-color);
}

#store-form input[type="text"]:read-only {
  background-color: rgba(233, 233, 233, 0.5);
  pointer-events: none;
}

#store-form label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
  color: rgb(48, 48, 48);
}

#store-form > section {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  overflow: hidden;
}
#store-form > section > header {
  background-color: whitesmoke;
  padding: 0.75rem;
  border-bottom: 1px solid lightgray;
  font-size: 0.65rem;
  color: var(--primary-color);
}
#store-form > section > main{
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
#store-form .buttons {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0rem;
}
#store-form .buttons button {
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  font-size: 0.9rem;
  width: fit-content;
}

.fill-random-button {
  background-color: whitesmoke;
  padding: 0.25rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  border: 1px solid lightgray;
  margin-left: 0.2rem;
}

#store-form .error {
  color: #da0000;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

#save-store-details-btn {
  background-color: var(--primary-color);
  color: white;
}
