#help-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#help-page > header {
  padding: 1rem 0rem;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq-item {
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  overflow: hidden;
}

.faq-question {
  padding: 0.75rem;
  background-color: whitesmoke;
  font-size: 1rem;
  color: var(--primary-color);
  border-bottom: 1px solid lightgray;
}

.faq-answer {
  font-size: 1rem;
  line-height: 1.6;
  padding: 1rem;
}

.contact-support {
  text-align: center;
  padding: 2rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
}

.contact-support h2 {
  margin-bottom: 1rem;
}

.contact-support p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.contact-support a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.contact-support a:hover {
  text-decoration: underline;
}
