#dashboard-loader{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#dashboard-loader header,#dashboard-loader main{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
#dashboard-loader  div {
    width: 220px;
    height: 80px;
    background: linear-gradient(90deg, #ccc 25%, #e0e0e0 50%, #ccc 75%);
    background-size: 200% 100%;
    border-radius: 8px;
    animation: wave 1.5s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

#dashboard-loader main div{
     width: 100%;
     max-width: 320px;
     height: auto;
     aspect-ratio: 1;
}
