#stock-chart{
    height: 400px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}
#stock-chart header{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
#stock-chart main{
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

#stock-chart main div span{
    color: rgb(129, 129, 129);
    font-size: 0.9rem;
}

#stock-chart main div h4{
    color: rgb(77, 77, 77);
    font-weight: 700;
}

#stock-chart main div a{
    color: var(--primary-color);
}
