#tutorial-box{
    width: 100vw;
    max-width: 300px;
    height: 400px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}
#tutorial-box header{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tutorial-box main{
    overflow: auto;
    
}
#tutorial-box main a{
    color: var(--primary-color);
    margin-left: 1rem;
    &:hover{
        text-decoration: underline;
    }
}
#tutorial-box main iframe{
    width: 100%;
    aspect-ratio: 3/2;
    
}
