#my-products {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

#my-products > main {
  display: flex;
  flex-direction: column;
}

#my-products main input[type='search'] {
  padding: 0.5rem 1rem;
  outline: 1px solid rgb(189, 189, 189);
  border: none;
  border-radius: 5px;
  &:focus {
    outline: 1px solid var(--primary-color);
  }
  margin-bottom: 1rem;
}

.filters-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.filters-header input[type='search'] {
  width: fit-content;
}
.filters-header .filters {
  display: flex;
  flex: 1;
  background-color: whitesmoke;
  align-items: center;
  flex-wrap: wrap;
}

.sort-options {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  padding: 1rem;
}

.sort-options label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  font-size: 0.9rem;
}
.title {
  font-size: 0.9rem;
  color: gray;
}
.title strong {
  color: var(--primary-color);
  display: block;
}

.availability-options {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem;
}
.date-time {
  color: gray;
  font-size: 0.9rem;
}
.availability {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: rgb(80, 80, 80);
}
.availability span:last-child {
  color: var(--primary-color);
}
.pricing {
  font-size: 0.9rem;
  color: gray;
}
.pricing .actual-price {
  text-decoration: line-through;
}
.pricing .discount {
  color: rgb(184, 0, 0);
}
.pricing .price {
  color: var(--primary-color);
  font-weight: bold;
}

.availability-options label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

.product-table thead {
  background-color: whitesmoke;
  font-size: 0.9rem;
}
.product-table td {
  padding: 8px 12px;
  text-align: center;
}
.product-table th {
  padding: 1rem;
  background-color: whitesmoke;
  font-weight: bold;
  text-align: left;
}

.product-table tr:nth-child(even) {
  background-color: aliceblue;
}

.product-table td {
  text-align: left;
}

.product-img {
  width: 100px;
  height: 50px;
  object-fit: cover;
  margin-right: 4px;
  border-radius: 4px;
  background-color: white;
  padding: 5px;
}

#active-status {
  display: flex;
  gap: 0.25rem;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  font-size: 0.8rem;
}
#active-status input {
  cursor: pointer;
}

#active-status .active {
  color: var(--primary-color);
  font-weight: bold;
}
#active-status .active-input {
  height: 1rem;
  width: 1rem;
  overflow: hidden;
}
#active-status .active-input > * {
  display: block;
  height: 1rem;
  width: 1rem;
}
#active-status .inactive {
  color: crimson;
  font-weight: bold;
}

#my-products .action {
  background: whitesmoke;
  padding: 0.2rem 0.5rem;
  border: 1px solid lightgray;
  color: rgb(85, 85, 85);
  border-radius: 0.2rem;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 0.25rem;
  &:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: aliceblue;
  }
}
