#add-product-page{
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 1rem;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    
}
#add-product-page > main > section{
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    overflow: hidden;
    flex: 1;
}

#add-product-page > main > section > main{
    padding: 1rem;
}
#add-product-page > main > section > header{
    padding: 0.75rem;
    background-color: whitesmoke;
    font-size: 0.65rem;
    color: var(--primary-color);
    border-bottom: 1px solid lightgray;
}
#add-product-loader{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.89);
    inset: 0;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
}
#add-product-page > header{
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: white;
}
#add-product-page > main{
    flex: 1;
}
#add-product-page > footer{
    display: flex;
    justify-content: space-between;
    
}
#add-product-page footer div{
    display: flex;
    gap: 1rem;
}
#add-product-page footer button{
    background-color: transparent;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: rgb(94, 94, 94);
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid lightgray;
    &:hover{
        background-color: aliceblue;
    }
}
#add-product-page footer button#next-btn{
    background-color: transparent;
    font-weight: bold;
    color: var(--primary-color);
    &:hover{
        background-color: aliceblue;
    }
}
#add-product-page footer button#submit-btn{
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: bold;
}
#add-product-page footer button#submit-btn img{
    height: 1.2rem;
    filter: grayscale(0.5);
}


.add-product-form input[type='text'],.add-product-form textarea{
    display: block;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    font-family: inherit;
    font-size: 0.9rem;
    padding: 0.5rem;
    &:focus{
        outline: 2px solid rgb(0, 121, 158);
        border-color: transparent;
    }
    
}
.add-product-form textarea{
    resize: vertical;
    min-height: 4rem;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-product-form > main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.add-product-form .error{
    color: #d10000;
    font-weight: 500;
}
.add-product-form label{
    font-size: 0.9rem;
    font-weight: bold;
}
.add-product-form .sub-info{
    color: rgb(65, 65, 65);
    font-size: 0.8rem;
}
div#mrp{
    background-color: rgb(255, 255, 234);
    padding: 1rem;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
}

div#mrp p{
    color: gray;
    font-size: 0.8rem;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 4rem;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #008f77;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}


