#product-media .media-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

#product-media .media-box {
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

}

#product-media .upload-placeholder {
  text-align: center;
  color: #333333;
  font-size: 0.9rem;
  cursor: pointer;
}

#product-media .upload-placeholder span { 
  display: block;
  color: #666;
}

#product-media .upload-placeholder span > *:not(p){
    font-size: 2rem;
}

#product-media .preview-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
}

#product-media .preview-image {
  flex: 1;
  width: 100%;
  object-fit: cover;
}

#product-media .action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 2;
}

#product-media .action-row button {
  flex: 1;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 0.75rem 0rem;
}

#product-media .action-row button:hover:not(:disabled) {
  background: #3b3b3b;
}

#product-media .action-row button:disabled {
  color: rgb(82, 82, 82);
  cursor: not-allowed;
}

@media (max-width: 768px) {
  #product-media .media-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #product-media .media-grid {
    grid-template-columns: 1fr;
  }
}
