#main-nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: rgb(0, 54, 63);
  border-bottom: 1px solid rgb(226, 226, 226);
  gap: 1rem;
  position: relative;
}

#main-nav a {
  background-color: transparent;
}

a#main-logo img {
  height: 1.25rem;
  filter: invert(100) brightness(10);
}

#main-nav section:last-child {
  display: flex;
  gap: 2rem;
  align-items: center;
  position: absolute;
  right: 1rem;
}

#main-nav section:last-child a {
  color: white;
  font-size: 1.4rem;
  display: flex;
}

a#user-profile {
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

#user-image {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

button#menu {
  color: white;
  background-color: transparent;
  font-size: 1.4rem;
  display: flex;
}
