#sidebar-layover {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(32, 32, 32, 0.651);
  z-index: 15;
  inset: 0;
}

#sidebar {
  height: 100vh;
  width: 300px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-300px);
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

#sidebar header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgb(211, 211, 211);
  align-items: center;
}
#sidebar header button {
  background-color: transparent;
  font-size: 1.4rem;
}

#sidebar ul{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
#sidebar ul li {
  font-weight: 600;
  font-size: 0.95rem;
  display: flex;
  padding: 0.25rem 1rem;
  &:hover {
    color: var(--primary-color);
    background-color: rgba(235, 239, 241, 0.466);
    cursor: pointer;
  }
}
#sidebar ul li a {
  color: rgb(39, 39, 39);
  font-weight:600;
  padding: 0.75rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
 
}
#sidebar ul li a .icon{
  font-size: 1.2rem;
  display: flex;
}
